#my-h1{
  color: pink;
  font-size: 45px;
  background: lightgoldenrodyellow
}

#my-h2{background: lightgoldenrodyellow
}
#my-h3{
  border: 2px solid #dddd
}

.is-grid {
    display: grid;

}

#my-h4{
  font-size: 20px
}
